.stretch-horizontal {
    grid-column: 1 / -1;
}
.table-wrapper {
    overflow: auto;
    padding-top: 0.25rem;
}

.btn-action {
    padding: 6px 10px;
    font-size: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
}
.btn-action.promote {
    background: rgba(62, 255, 78, 0.15);
    color: #9dff80;
}
.btn-action.demote {
    background: rgba(255, 200, 49, 0.15);
    color: #fff34f;
}
.btn-action.delete {
    background: rgba(239,68,68,.15);
    color: #f87171;
}

.btn-action:hover {
    filter: brightness(1.15);
}